:root {
  --side-padding: 24px;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  background: #666666;
  border-top: 8px solid #999;
}

p {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 0;
}
p:not(:last-child) {
  margin-bottom: 16px;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
  border-bottom: 1px solid transparent;
}

.intro-chunk {
  padding: 90px var(--side-padding) 60px var(--side-padding);
  width: 415px;
  max-width: 100%;
}
.intro-chunk h1 {
  margin-bottom: 50px;
}
.intro-chunk strong {
  color: hsl(160, 100%, 32%);
}

.card {
  margin: 70px 0 60px 0;
  padding: var(--side-padding);
  padding-top: 0;
  background: white;
  border-top: 1px solid transparent;
}
.card .indented-heading {
  font-size: 24px;
  font-weight: 800;
  background: #ffbf00;
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid #cc9900;
  margin-top: 10px;
  margin-left: -32px;
}
